form {
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
form p {
	clear: left;
	line-height: 1.5em;
}
label {
	padding-left: 5px;
}

form p label {	
	width:150px;
	text-align:right;
	padding-right: 4px;
}

fieldset {
	border: 1px solid #C69;
	padding: 1%;
	margin: 1%;
	/*padding: 8px 0;*/
	/*margin-bottom: 10px;*/
}
fieldset p {
	margin: 0;
	padding: 0 .75em .75em .75em;
}


/* Hide from IE <=6 :) */
html > body fieldset {
	-moz-border-radius: 8px; /* Mozilla */ 
	border-radius: 8px; /* CSS 3.0 */ 
	border: 1px solid #D0D0D0;
}
legend { 
	color: #117db6;
	font-weight: bold;
	font-size: 14px;
	margin-left:20px;
}
input, textarea, select  {
	font: normal 14px Arial, Helvetica, sans-serif;
	color:#2d567f;
	border-radius:5px;	
	border-bottom: 1px solid #999;
 	border-right: 1px solid #999;
 	border-top: 1px solid #ccc;
 	border-left: 1px solid #ccc;
	height: 30px;
	width: 94%;
	margin: 0 3%;
	resize: none;
}
textarea{
	height: 80px;	
}
input {
	height: 28px;
}
select {
	height: 30px;
}
/*input seleccionado*/
input[type=text]:hover, input[type=password]:hover, textarea:hover, select:hover {
	background-color: #feffe5;
}
input[type=submit]:active, input[type=button]:active {
	box-shadow: inset 0 0 5px 1px brown;
}
/*botones sin mouseover, letra y color de fonde entre otros*/
input[type=submit], input[type=button] {
	color: #FFF;
	border: 0px;
	font-weight: bold;
	background-color:#DF6900;
}
/*mouseover de botones (Cambio de color de la letra) */
input[type=submit]:hover, input[type=button]:hover {
	font-weight: bold;
	background-color: #E49044;
	color: #000;
	cursor: pointer; 
}

input[type=radio], input[type=checkbox]{ 
	width: 20px;
	height: 20px;
	margin: 0 2%; 
}
/*Radio Buttons*/
input[type=radio] + label{ 
	color: #000;
}

input[type=radio]:checked + label {
	color: #117db6;
}

.bloque_1, 
.bloque_2, 
.bloque_3, 
.bloque_4, 
.bloque_5,
.bloque_6,
.bloque_7,
.bloque_8,
.bloque_9,
.bloque_10
{
	float: left;
	padding: 1% 0;
}
.bloque_1{ width: 100%; }
.bloque_2{ width: 87.5%; }
.bloque_3{ width: 75%; }
.bloque_4{ width: 62.5%; }
.bloque_5{ width: 50%; }
.bloque_6{ width: 37.5%; }
.bloque_7{ width: 25%; }
.bloque_8{ width: 12.5%; }
.bloque_9{ width: 6.25%; }
.bloque_10{ width: 3.125%; }

.desplegable{
	float: left;
	width: 100%;
	height: 45px;
	overflow-y: scroll;
	overflow-x: none;
	margin-top: 5px;
	margin-right: 10px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	/*transition: [Propiedades] [Tiempo] [Función de Tiempo] [Retardo];*/
	-moz-transition:0.5s; /* Mozilla */
    -ms-transition:0.5s;
    -o-transition:0.5s; /* Opera */
    -webkit-transition:0.5s; /* Chrome y Safari */
    transition:0.5s;
	font-weight: bold;
	word-wrap: break-word;
	
}

.desplegable:hover{
	float: left;
	width: 100%;
	height: 150px;
	overflow-y: scroll;
	overflow-x: none;
	margin-top: 5px;
	margin-right: 10px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	-moz-transition:0.5s; /* Mozilla */
    -ms-transition:0.5s;
    -o-transition:0.5s; /* Opera */
    -webkit-transition:0.5s; /* Chrome y Safari */
    transition:0.5s;
}

/**********************************/
/* 	formularios flotantes popup		*/
/**********************************/
.popup{
	height: auto;
	text-align: center;
}

.popup input{
	border: 1px solid #CCC;
	text-align: center;
	font-size: 16px;
	width: 80%;
	margin: 8px 0 8px 0;
}

/**********************************/
/* 	FORMULARIOS FLOTANTE (POPUP)  */
/**********************************/
.fm_popup {
	font-family:Arial, Helvetica, sans-serif;
	height: auto;
}

.fm_popup input{
	border-radius:5px;
	height: 14px;
	font-size: 18px;
	padding: 7px;
}

.fm_popup input[type=text]{
	width:300px;
}

.fm_popup input[type=submit], .fm_popup input[type=button]{
	height: 30px;
}

.fm_popup input[type=file]{
	height: 40px;
}

.fm_popup textarea{
	resize: none;
	width: 300px;
	height: 80px;
	border-radius:5px;
	font-size:16px;
}

.fm_popup .bloque_1{
	width: 320px;
	padding: 5px 10px 5px 10px;
}

/****************************/
/*Formulario Login fmlogin	*/
/****************************/
#fmlogin{
	max-width: 320px;
	min-width: 220px;
}

#fmlogin label{
	font-weight:bolder;
}

#fmlogin input{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	font-size: 20px;
	text-align:center;
}

/****************************/
/*  Formulario Registrarme	*/
/****************************/
.registro{
	width: 440px;
	margin: 5px;
	padding: 5px;
	overflow:auto;
}

/**********************************/
/* 		FORMULARIOS EDITAR		*/
/**********************************/
.fm_edit .bloque_1{
	width: 198px;
	padding: 5px 10px 5px 10px;
	float:left;
}

.fm_edit .bloque_1 input{
	width: 180px;
}
	
.fm_edit .bloque_3 input{
	width: 396px;
}

.fm_edit .bloque_3{
	width: 420px;
	padding: 5px 10px 5px 10px;
	float:left;
}

.fm_edit input{
	border-radius:5px;
	height: 40px;
	font-size: 18px;
	padding: 5px;
}

.fm_edit textarea{
	resize: none;
	height: 80px;
	width: 410px;	
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.fm_edit select{
	border-radius:5px;
	height: 50px;
	font-size: 18px;
	padding: 5px;
	width:410px; 
}

.fm_edit fieldset{
	height:40px;
}

/**********************************/
/* 		FORMULARIOS EDITAR 2	  */
/**********************************/
.fm_edit2 fieldset{
	padding:5px 10px 5px 10px;
}

.fm_edit2 label{
	float: left;
}

.fm_edit2 input{
	border-radius:5px;
	height: 14px;
	font-size: 16px;
	padding: 7px;
}

.fm_edit2 input[type=submit], .fm_edit2 input[type=button]{
	height: 30px;
}

.fm_edit2 select{
	border-radius:5px;
	height: 30px;
	font-size: 16px;
	padding: 5px;
	color:#5c788e;
}

.fm_edit2 textarea{
	resize: none;
	height: 60px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.fm_edit2 #googleMap{
	height:270px;
}

.fm_edit2 .bloque_1, .fm_edit2 .bloque_2, .fm_edit2 .bloque_3, .fm_edit2 .bloque_4, .fm_edit2 .bloque_5 {
	padding: 5px;
	float:left;
}

.fm_edit2 .bloque_1{ /*50%*/
	width: 270px;
}

.fm_edit2 .bloque_2{ /*25%*/
	width: 130px;
}

.fm_edit2 .bloque_5{ /*75%*/
	width: 410px;
}

.fm_edit2 .bloque_3{ /*100%*/
	width: 550px;
}

.fm_edit2 .bloque_4{ /*12.5%*/
	width: 60px;
}


/****/
.fm_edit2 .bloque_1 input{
	width: 250px;
}

.fm_edit2 .bloque_1 select{
	width: 260px;
}

.fm_edit2 .bloque_1 textarea{
	width: 250px;
}

.fm_edit2 .bloque_1 input[type=radio], .fm_edit2 .bloque_2 input[type=radio] {
	width: 	30px;
	height: 30px;
}

.fm_edit2 .bloque_1 input[type=checkbox], .fm_edit2 .bloque_2 input[type=checkbox], .fm_edit2 .bloque_4 input[type=checkbox]{
	width: 30px;
	height: 30px;
}

.fm_edit2 .bloque_2 input{
	width: 110px;
}

.fm_edit2 .bloque_2 select{
	width: 120px;
}
	
.fm_edit2 .bloque_3 input{
	width: 530px;
}

.fm_edit2 .bloque_3 select{
	width: 550px;
}

.fm_edit2 .bloque_3 textarea{
	width: 530px;
}

.fm_edit2 .bloque_4 input{
	width: 40px;
}

.fm_edit2 .bloque_4 select{
	width: 50px;
}

.fm_edit2 .bloque_5 input{
	width: 390px;
}

/****/

.fm_edit2 .msg_error, 
.fm_edit2 .msg_confirmacion, 
.fm_edit2 .msg_informacion, 
.fm_edit2 .msg_alerta {
	width:95%;
}

/**********************************/
/* 	FORMULARIOS EDITAR SECCION 		*/
/**********************************/
.fm_edit_seccion fieldset{
	padding:5px 10px 5px 10px;
}

.fm_edit_seccion label{
	float: left;
}

.fm_edit_seccion input{
	border-radius:5px;
	height: 14px;
	font-size: 16px;
	padding: 7px;
}

.fm_edit_seccion input[type=submit], .fm_edit_seccion input[type=button]{
	height: 30px;
}

.fm_edit_seccion select{
	border-radius:5px;
	height: 30px;
	font-size: 16px;
	padding: 5px;
	color:#5c788e;
}

.fm_edit_seccion textarea{
	resize: none;
	height: 60px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.fm_edit_seccion .bloque_1, .fm_edit_seccion .bloque_1B, .fm_edit_seccion .bloque_2, .fm_edit_seccion .bloque_2B, .fm_edit_seccion .bloque_3, .fm_edit_seccion .bloque_4 {
	padding: 5px;
	float:left;
}
.fm_edit_seccion .bloque_1{
	width: 330px;
}
.fm_edit_seccion .bloque_1B{
	width: 219px;
}
.fm_edit_seccion .bloque_2{
	width: 159px;
}
.fm_edit_seccion .bloque_2B{
	width: 99px;
}
/****/
.fm_edit_seccion .bloque_1 input{
	width: 310px;
}
.fm_edit_seccion .bloque_1 select{
	width: 320px;
}
.fm_edit_seccion .bloque_1 input[type=button], .fm_edit_seccion .bloque_1 input[type=submit]{
	width: 325px;
}
.fm_edit_seccion .bloque_1B input{
	width: 200px;
}
.fm_edit_seccion .bloque_2 input{
	width: 140px;
}
.fm_edit_seccion .bloque_2 input[type=button]{
	width: 155px;
}
.fm_edit_seccion .bloque_2 select{
	width: 150px;
}
.fm_edit_seccion .bloque_2B input{
	width: 80px;
}
.fm_edit_seccion .bloque_2B input[type=button]{
	width: 95px;
}


/************************************/
/* FORMULARIOS EDITAR DESDE IFRAME	*/
/************************************/
.fm_edit_iframe {
	width: 340px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.fm_edit_iframe label{
	float: left;
}

.fm_edit_iframe input {
	border-radius:5px;
	padding: 0 7px 0 7px;
	height: 30px;
}

.fm_edit_iframe input[type=submit]{ /*.fm_edit_iframe input[type=button]*/
	height: 30px;
}

.fm_edit_iframe input[type=color]{
	height: 30px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.fm_edit_iframe textarea{
	resize: none;
	height: 60px;
	border-radius:5px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}

.fm_edit_iframe select{
	border-radius:5px;
	height: 30px;
	font-size: 16px;
	padding: 5px;
	color:#5c788e;
}

.fm_edit_iframe .bloque_1, .fm_edit_iframe .bloque_2, .fm_edit_iframe .bloque_3, .fm_edit_iframe .bloque_4 {
	padding: 5px;
	float:left;
}
.fm_edit_iframe .bloque_1{
	width: 330px;
}
.fm_edit_iframe .bloque_2{
	width: 240px;
}
.fm_edit_iframe .bloque_3{
	width: 160px;
}
.fm_edit_iframe .bloque_4{
	width: 80px;
}
/****/
.fm_edit_iframe .bloque_4 input[type=radio] {
	height: 20px;
}
.fm_edit_iframe .bloque_1 input{
	width: 310px;
}
.fm_edit_iframe .bloque_1 select{
	width: 320px;
}
.fm_edit_iframe .bloque_1 textarea{
	width: 320px;
}
.fm_edit_iframe .bloque_2 input{
	width: 222px;
}
.fm_edit_iframe .bloque_2 select{
	width: 232px;
}	
.fm_edit_iframe .bloque_3 input{
	width: 140px;
}
.fm_edit_iframe .bloque_3 select{
	width: 150px;
}
.fm_edit_iframe .bloque_4 input{
	width: 55px;
}
.fm_edit_iframe .bloque_4 select{
	width: 55px;
}

/****************************************/
.btmenos{
	float:right;
	border:none;
	background-color:#117db6;
}

/****************************************/
/*Tablas p/Formulario fm_pedidotransfer	*/
/****************************************/
.articulos{
	border-bottom: 1px solid #117db6;
	padding: 8px;
	height:auto;
	overflow:hidden;
}

/****************************************/
/*Formulario Recuperar Clave fm_recuperacion	*/
/****************************************/

.link-loguin{
	color:#999;
	font-size:11px;
	margin-right: 10px;
}

#fm_recuperacion{
	max-width: 320px;
	min-width: 220px;
}

#fm_recuperacion label{
	font-weight:bolder;
}

#fm_recuperacion input{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	font-size: 20px;
	text-align:center;
}

#fm_recuperacion #img-correo{
	margin: 5px;
	height: 50px;
	float:right;
}

#fm_recuperacion #img-close{
	margin-right: 5px;
}

/****************************************/
/*		Formulario BONIFICACIONES		*/
/****************************************/
#fm_mesanio label{
	color:#FFF;	
}

#fm_mesanio input{
	color:#FFF;	
}

#fm_mesanio select{
	font-weight:bold;
	background-color:#FFF;	
}

/****************************************/ 
/*	ESTILOS PARA PANTALLA MENOR A 768PX	*/
/****************************************/
@media screen and (max-width:768px ) {
	.bloque_1, .bloque_2 { width: 100%; }
	.bloque_3, .bloque_4 { width: 75%; }
	.bloque_5, .bloque_6 { width: 50%; }
	.bloque_7, .bloque_8 { width: 25%; }
	.bloque_9, .bloque_10 { width: 25%; }
	
	.registro {
		float:none;
		width: 90%;
	}
	
	/************************/
	/*	FORMULARIOS EDITAR	*/
	/************************/
	.fm_edit .bloque_1 {
		width: 42%;
	}
	
	.fm_edit .bloque_3{
		width: 90%;
	}
	
	.fm_edit .bloque_1 input, .fm_edit .bloque_3 input{
		width: 95%;
	}
	
	.fm_edit textarea, .fm_edit2 textarea{
		width: 98%;	
	}
	
	.fm_edit select, .fm_edit2 select{
		width:98%;
		background-color:#FFF;
	}
	
	/************************/	
	.fm_edit2 fieldset {
		margin:10px 10px 10px 10px;
		padding:10px 10px 10px 10px;
	}

	.fm_edit2 .bloque_1 {
		padding: 5px 10px 5px 0px;
		width: 45%;
	}
	
	.fm_edit2 .bloque_3{
		padding: 5px 0px 5px 0px;
		width: 100%;
	}
	
	.fm_edit2 .bloque_3 select, .fm_edit2 .bloque_1 select{
		width: 95%;
	}
	
	.fm_edit2 .bloque_3 input, .fm_edit2 .bloque_1 input, .fm_edit2 .bloque_5 input{
		width: 95%;
	}
		
	.fm_edit2 .msg_error,
	.fm_edit2 .msg_confirmacion,
	.fm_edit2 .msg_informacion,
	.fm_edit2 .msg_alerta {
		margin-left:0px;
		width:90%;
	}
}

/*******************************/
@media screen and (max-width:375px ) {
	.bloque_1, .bloque_2, .bloque_3, .bloque_4 { width: 100%; }
	.bloque_5, .bloque_6, .bloque_7, .bloque_8 { width: 50%; }
	.bloque_9, .bloque_10 { width: 25%; }
	
	.fm_edit2 fieldset{
		padding:5px 5px 5px 5px;
	}
	
	.fm_edit2 .bloque_3, .fm_edit2 .bloque_1, .fm_edit2 .bloque_5 {
		width: 300px;
	}
	
	.fm_edit2 .bloque_2{
		width: 140px;
	}
	.fm_edit2 .bloque_4{
		width: 65px;
	}
	
	/****/
	.fm_edit2 .bloque_3 input, .fm_edit2 .bloque_1 input, .fm_edit2 .bloque_5 input {
		width: 280px;
	}

	.fm_edit2 .bloque_3 select, .fm_edit2 .bloque_1 select{
		width: 300px;
	}

	.fm_edit2 .bloque_3 textarea, .fm_edit2 .bloque_1 textarea{
		width: 290px;
	}

	.fm_edit2 .bloque_1 input[type=radio], .fm_edit2 .bloque_2 input[type=radio], .fm_edit2 .bloque_1 input[type=checkbox], .fm_edit2 .bloque_2 input[type=checkbox], .fm_edit2 .bloque_4 input[type=checkbox] {
		width: 	30px;
		height: 30px;
	}

	.fm_edit2 .bloque_2 input{
		width: 120px;
	}

	.fm_edit2 .bloque_2 select{
		width: 130px;
	}

	.fm_edit2 .bloque_4 input{
		width: 40px;
	}

	.fm_edit2 .bloque_4 select{
		width: 50px;
	}
	
	/**********************/
	.fm_edit_seccion .bloque_2{
		width: 150px;
	}

	/****/

	.fm_edit_seccion .bloque_2 input{
		width: 140px;
	}

	.fm_edit_seccion .bloque_2 input[type=button]{
		width: 155px;
	}
}