@CHARSET "ISO-8859-1";
/****************************/
/*		MENU DESPLEGABLE	*/
.menu_bar {
	display:none;
}

header { 
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	width:100%;
}
	
header nav { /* barra completa del navegaro*/
	background:#0f6b9c; /*5c788e;	*/
	z-index:1000;
}

header nav ul {  /* barra donde se encuentran los sos botones, que tambien es la del desplegable*/
	width: 960px;
	text-align:left;
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;	
}
	
header nav ul .boton_menu {
	background-color:#0f6b9c; /*5c788e; /*117db6;*/
}
	
header nav ul .current_menu{ /* parte desplegable (submenu) con el texto */	
	background-color: #0b5176; /*004153; /* #125789; */
	font-size:10px;
	font-weight:bold;	
}

header nav ul li ul .current_submenu {
	background-color:#052536; /*779cba; /* #08263c; */
	font-size:10px;
	font-weight:bold;
}
	
/*hover de la botonera principal cuando se pasa sobre opciones de su propio submenú*/
header nav ul li:hover {
	background:#0f6b9c; /*5c788e; /*117db6;*/
}
	
header nav ul li a {
	font-size:12px;
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px 20px 20px 20px;
	/*margin: 0px 2px 0px 2px;	*/
    -moz-transition:1.5s;
    -o-transition:1.5s;
    -webkit-transition:1.5s;
    transition:0.3s;
}
	 
/* hover del submenú*/
header nav ul li a:hover {
	display:block;
	background:#FFF;
	color:#000;
	font-weight:bold;
} 

header nav ul li a img {
	margin:-18px 0px -18px 0px;
}
	 	 
header nav ul li ul:hover{
	display:block;
}
	
/* barra del submenu */
header nav ul li ul{
	display:none;
	background-color: #052536; /*779cba; /* #125789; */
	position:absolute;
	width: auto; /*???*/
	z-index:1000;
}
	
/*botones del submenu */
header nav ul li ul li{
	display:block;
	overflow: hidden;
	border-bottom: 2px solid rgba(255,255,255,.5);
	width:250px;
}
	
header nav ul li ul li a{
	display: block;
	/*margin-left:20px;*/
}	
	
/* para submenúes */
header nav ul li:hover ul{
	display:block;
}

input[type=button].current {
	background-color: #FFF;
	border: none; /*border: solid 1px #DEDEDE;*/
	text-align:center;
	color: #000;
	height: 40px;
  	width:140px;
	font-weight: bold;
	margin: 5px 1px 5px 1px;
}

/************************/
/*	MENU ADMINISTRADOR	*/
/************************/
header nav2 {
	background: #1e1e1e;
	z-index:500;
}
	 
header nav2 ul {
	width: 960px;
	text-align:left;
	list-style:none;
}
 
header nav2 ul li {
	display:inline-block;
	position: relative;	
}

header nav2 ul .boton_menu {
	background-color: #2f2f2f;
}
	
header nav2 ul .current_menu{ 
	background-color: #4b4b4b;
	font-size:10px;
	font-weight:bold;	
}

header nav2 ul li ul .current_submenu {
	background-color: #191818;
	font-size:10px;
	font-weight:bold;
	min-width: 240px;
}

header nav2 ul li:hover {
	background:#191818;
}
	
header nav2 ul li a {
	font-size:12px;
	color:#a9a9a9;
	display:block;
	text-decoration:none;
	padding: 15px 15px 15px 15px;
    -moz-transition:1.5s;
    -o-transition:1.5s;
    -webkit-transition:1.5s;
    transition:0.3s;
}
	 
header nav2 ul li a:hover {
	display:block;
	background: #191818;
	color:#a9a9a9;
	font-weight:bold;
} 

header nav2 ul li ul:hover{
	display:block;
}
	
header nav2 ul li ul{
	display:none;
	background-color: #191818; /*052536;*/
	position:absolute;
	width: auto;
	z-index:1000;
}

header nav2 ul li ul li{
	display:block;
	overflow: hidden;
	border-bottom: 2px solid rgba(255,255,255,.5);
	width:250px;
}
	
header nav2 ul li ul li a{
	display: block;
}	
	
header nav2 ul li:hover ul{
	display:block;
}

ul#uno {top: -46px!important; top: -77px;}
ul#dos {top: -92px!important; top: -123px;}
ul#tres {top: -138px!important; top: -261px;}
ul#cuatro {top: -184px!important; top: -307px;}
ul#cinco {top: -230px!important; top: -353px;}

/*******************/
/* Menu contenidos */
div.titulobox {
	height: 35px;
	padding: 3px;
	border: none; 
	font: normal 140%/100% "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	font-size: 16px;
	color:#666; /*#7B8284; /* #666; /*#000;*/
}

div.box_mini{
	float:	left;	
    height: 80px;
	width: 98%;
	margin: 0 1%;
	/*margin: 0 5px 0 5px;*/
}

div.box_mini2{
	float: left;
	text-decoration: none;
	cursor: pointer;
	color: #1c4f81;
	width: 14%;
	/*width: 143px;*/
    height: 60px;
	/*margin: 5px;*/
	margin: 1%;
	padding-top: 20px;
	background-color: transparent;
	border: 2px solid #1c4f81;
	
	font: normal 140%/100% "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	font-size: 16px;
	
	-webkit-transition:background 1s ease-out;
	-moz-transition:background 1s ease-out;
	-o-transition:background 1s ease-out;
	-ms-transition:background 1s ease-out;
	transition:background 1s ease-out;
}
div.box_mini2 p {
	font-size: 14px;
	color: #555;
}
div.box_mini2:hover {
	color: #FFF;
	background-color: #1c4f81;
}

.temas2:nth-child(2) .box_mini2{
	color: #0069a6;
	border-color: #0069a6;
}
.temas2:nth-child(2) .box_mini2:hover {
	color: #FFF;
	background-color: #0069a6;
}

.temas2:nth-child(3) .box_mini2{
	color: #008BD8;
	border-color: #008BD8;
}
.temas2:nth-child(3) .box_mini2:hover {
	color: #FFF;
	background-color: #008BD8;
}
.temas2:nth-child(4) .box_mini2{
	color: #92bbd7;
	border-color: #92bbd7;
}
.temas2:nth-child(4) .box_mini2:hover {
	color: #FFF;
	background-color: #92bbd7;
}

div.noticias{
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

div.boxmenu {
	float: left;
	margin: 20px 0 0 20px;
	min-width: 180px;
	min-height: 110px;	
	border: 1px solid #d9ebf4;
	border-right: 2px solid #d9ebf4;
	border-bottom: 2px solid #d9ebf4;
	background-color: #F4F6F8;
}

.tema_soporte {
	background-color: transparent;
	-webkit-transition:background 1s ease-out;
	-moz-transition:background 1s ease-out;
	-o-transition:background 1s ease-out;
	-ms-transition:background 1s ease-out;
	transition:background 1s ease-out;	
	border: 2px solid #0f6b9c;
	float: left;
	-webkit-flex-basis: 25%;
	border-radius: 2px;
	box-sizing: border-box;
	min-width: 260px;
	min-height: 100px;
	text-transform: uppercase;
	padding: 10px;
	font-size: 12px;
	color: #6d6e70;
	margin: 1em;
	align-self: center;
	cursor: pointer;
	white-space: normal;
}

.tema_soporte:hover{
	background: #efbe9a;
}

/**********************************/
/* menú principal de la home */
ul.mainmenu {
	text-align: left; 
	list-style-type: none; 
	border-style: none;
	margin: 5px 0; 
}

ul.mainmenu li {
	display: block;
	padding: 0 5px;
}
ul.mainmenu li a {
	display: block; 
	padding: 1px 0 3px 15px; 
	border-bottom: #DDD 1px dotted;
	font-family: Tahoma,Verdana,Arial; 
	color: #666;
	text-decoration: none;
}

ul.mainmenu li a:hover {
	display: block; 
	color: #f01;
	text-decoration: underline;
}

/********************************/
/* 		MENU ACCORDION			*/
/********************************/
#menu_accordion {
	width:350px;
	float:right;
	overflow:auto;
}

#acco_botonera {
	height:30px;
	width:320px;
	margin:5px -20px 0px -20px;
	position:relative;
	top:10px;
}

#menu_accordion select{
	border-radius:5px; 
	height:20px;
}

#menu_accordion input{
	border:none; 
	background-color:transparent; 
	width:100%;
}

.acco_bloq_1, .acco_bloq_2{
	padding: 5px 5px 5px 5px;
	/*border:1px solid #000;*/
}

.acco_bloq_2{
	width: 320px;
	margin-left:-20px;
	overflow:auto;
}

.acco_bloq_1{
	width: 125px;
	margin-left:5px;
	float:left;
}

.acco_bloq_2 select{
	width: 320px;
}

.acco_bloq_1 select{
	width: 140px;
}

.acco_bloq_2 input[type=file]{
	height:40px;
}

.acco_bloq_2 input[type=text], .acco_bloq_2 textarea{
	padding:2px 5px 2px 5px;
}



/****************************************/ 
/*	ESTILOS PARA PANTALLA MENOR A 768px	*/
/****************************************/
@media screen and (max-width:768px ) {
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
		position:fixed;
		top:0;
		left:0;
		z-index:5000;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:15px;
		background:#0f6b9c; /*5c788e; /*117db6;*/
		color:#fff;
		overflow:hidden;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
	}
	
	header nav {
		width:100%;
		height:calc(100% - 60px); /*100%;*/
		left:-100%; /* inicia el menú a la izquierda y fuera de la pantalla p mostrar con el javascript*/
		top:60px;		
		position: fixed;
		overflow:scroll;
	}
	
	header nav ul {
		width: 728px;
		overflow:hidden;
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 2px;
	}
 
	header nav ul li {
		display:block;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	
	.btn_menu{
		background-color:#0f6b9c; /*5c788e; /*117db6;*/
	}
	
	.current{
		background-color:#037E8C;
	}
	
	header nav ul li a {
		margin:0px -20px 0px -20px;
		padding-left: 60px;
		display: block;
		font-size:16px;
	}
	
	header nav ul li ul:hover {
		display:block;
		/*display: none;*/
	}
	
	header nav ul li ul {
		width: 100%;
		position: relative;
	}
	
	header nav ul li ul li a {
		margin-left:15px;
		padding-left:30px;
	}
	
	/**************/
	/* Menu admin */
	header nav2 ul {
		width: 100%;
	}
	
	
	div.box_mini2 {
		width: 30%;
	}
	
}

/******************************************/
@media screen and (max-width:375px) {
	div.box_mini{
		height: 40px;
	}
	
	div.box_mini2 {
		width: 46%;
	}
	
	div.titulobox {
		height: 20px;
		padding: 1px;
	}
	
	header nav ul {
		width: 320px;
	}
	
	header nav2 ul {
		width: 100%;
	}
}
/*************************************/

