/********************/
/* Jquery Paginator */
paginator {
	width: 100%;
}
.paginadores {
	width: 16px;
	height: 15px;
	border: none;
	align-content: center;
	margin: 0 2px 0 2px;
	cursor: pointer;
}
#tabpage {
	width: 50px;
	margin: 0 20px 0 20px;
}
#stat{
	color: #333;
	font-weight: bold;
	font-size: 12px;
}
/********************/