/******************************/
/* estilos de noticia */
div.box_noticia{
	float: left;
	width: 90%;
	height: auto;
	font: normal 140%/100% "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #2d567f;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 10px 10px;
}

div.box_noticia:hover{ /*a.noti:link, a.noti:visited, a.noti:hover, a.noti:active{*/
	color: #000;
	background-color: #d9ebf4;
	text-decoration: none;
	font-size: 14px;
	text-align: left;
}

a.noti{ /*a.noti:link, a.noti:visited, a.noti:hover, a.noti:active{*/
	color:#000; 
	text-decoration: none;
	font-size: 14px;
	text-align: left;
	line-height:15px;	
	margin-left: -5px;
}

/*******************************/
/* fin estilos noticia flotante*/
div.flotante{
	margin: -25px 0 0 140px; /*top right bottom left*/
	position: fixed;
	z-index: 20;
	font-family:Arial;
	font-size:0.8em;
	display:none;
	background-color:#FFF;
	width: 200px;
	height:auto;
}

div.titulo{
	text-align: center;
	font-size:14px;
	font-weight:bold;
}

div.noticia{
	margin: 3%;
	padding: 5px;
	text-align: left;
	background-color:#d9ebf4;
}

/************************************/
/* 		POPUPS	MENÚ SECUNDARIO		*/
#popup {
	border: 8px solid #FFF;
    background: none repeat scroll 0 0 #FFFFFF !important;
    overflow: hidden !important;
	min-width:245px;
	position: relative;
	height: auto;
}

#f_motivo{
	resize: none;
}

.popup_box{
	border: 8px solid #FFF;
    background: none repeat scroll 0 0 #FFFFFF !important;
    overflow: hidden !important;
	min-width:245px;
	position: relative;
	height: auto;
}

.content_popup_title {
    background: #003159 !important;
    border-bottom: medium none !important;
    height: 20px;
    line-height: 1 !important;
    overflow: hidden !important;
    padding: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative !important;
    text-align: left !important;
    width: 99% !important;
}

.popup_title {
	float:left;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}

.popup_close {
	float:right;
	margin-right: 5px;
}

.popup_content {
    padding: 10px !important;
}

.popup_footer {
    background: none repeat scroll 0 0 #F2F2F2 !important;
    border-radius: 0 0 4px 4px !important;
    border-top: 1px solid #AAAAAA !important;
    font-size: 80% !important;
    padding: 5px 0 !important;
    text-align: right !important;
}

/****************************************/
/* 	POPUP RECIBO EN RENDICIÓN COBRANZAS	*/
#popup-flotante{
	width:590px;
	height:450px;
	overflow:auto;
	background-color:transparent;
	top: 10%;
	left: 30%;
	position:fixed;
	padding:15px;
	display: none;
	z-index: 1;
}

#popup-talonario {
	box-shadow: -5px -2px 17px #000, 8px 5px 20px #000;
	width:570px;
	height: auto;
	z-index: 1;	
    background: none repeat scroll 0 0 !important;
	display: none;
    overflow: hidden !important;	
	position: absolute;
	margin-bottom: 15px;
}

.content-popup-talonario {
	margin:0px auto;
	position:relative;
	padding:10px;
	min-width: 240px;
	max-width: 720px;
	border-radius:4px;
	background-color:#FFFFFF;
	box-shadow: 0 2px 5px #666666;
	height:auto;
	min-height:30px;
}

.close-talonario { /* botón x para cerrar popup*/
	position: absolute;
    right: 15px;
}

#rec_recuadro{
	margin: 20px;
	border:solid 2px;
	min-width: 180px;
	max-width: 700px;
}

#popup-recibo{
	display: none;
}

.content-popup-recibo{
	min-width: 210px;
	max-width: 700px;
	margin:20px;
	border:solid 2px;
}

.rec-contenido{
	float:left;
	min-width: 220px;
	margin-right: 10px;	
}

/****************************/
/*	CSS PEDIDOS TRANSFERS	*/
.borrar_planif{
	float: left;
	height: 50px;
	border: 0;
}
/****************************/
/*			INFORMES		*/
.legenda_comentario{
	float:right;
	font-size:12px;
	color:#999;
	margin-left:10px;
}

/****************************/
/* 		  MENSAJES 		  */
/* MENSAJES PARA MULTIPLES ARCHIVOS ADJUNTOS DEUDAS*/
.mensage_img{
	background-color: #FAFFA7;/*#CC0;/*#5FC800;*/
	color:#d49a2c;
	border:1px solid #d49a2c;
	font-weight:bold;
	padding:10px;
	margin: 10px auto;
	text-align: left;
	display: none; 
}


/****************************/
/*	TRANSFER LIQUIDACION	*/
#cuadro-liquidacion{
	margin-top:20px;
	margin-bottom:20px;
	height: auto;
	overflow:auto;
	width:100%;
}

/****************************/
/*	PDV puntos de venta		*/
#img_ampliada{
	overflow:auto;
	position:fixed;
	display: none;
	z-index: 1; 
    background-color: rgba(50,50,50,0.8);
	padding-top:5px;
}

#imagen_ampliada{
	height:99%;
}


@media screen and (max-width:768px ) {
	
}

@media screen and (max-width:320px ) {
	
}
