table.paginador {
	empty-cells: show;
	font-size: 90%;
	font-weight: bold;
	text-align: left;
	border: 0;
}
table.paginador td {
	border: 0;
	text-align:center;
}

table.paginador td a {
	text-decoration:none;
	color:#117db6;
}

/* tablas de lista  */
.datatab th{
	font-weight:bold;
}

.toolbar {
	margin:10px 0;
	padding-left:5px;
	text-align:center;
}

tr.par {
	background-color: #fff;
	height: 40px;
}
tr.impar {
	background-color: #f6f6f6;
	height: 40px;
}
tr.par:hover, tr.impar:hover {
	color: #555;
	background-color: #FFFFDA;
}

/****************************/
/*	TABLA BONIFICACIONES	*/
/****************************/
.tabla_bonif .borde_left{
	border-left: 3px solid #272727;
}

.tabla_bonif th{
	color:#FFF;
	background-color:#272727;
}

/****************************/
/*TABLA ABM y LIQUIDACION	*/
/****************************/
.tabla_abm, .tabla_liquidacion {
	border:1px solid #CCC;
	padding: 15px;
}

.tabla_abm input, #tabla_liquidacion input, .tabla_fechaspago input, #tabla_bonif input {
	height:40px;
	background-color:transparent;
	border:none;
	text-align:center;
}

.tabla_abm select, #tabla_liquidacion select, .tabla_fechaspago select, #tabla_bonif select{
	height:40px;
	background-color:transparent;
	border:none;
}

/*********************************/
/* TABLA FECHA PAGO PROVEEDORES  */
/*********************************/
.tabla_fechaspago{
	border:1px solid #CCC;
}
/****************************/